streamlit
torch
transformers
sentence-transformers
huggingface_hub
tiktoken

# Vector Database
chromadb

# arXiv API
arxiv

requests
beautifulsoup4

#Text Processing
pymupdf
pdfplumber
unstructured[all-docs]

langchain-community

pysqlite3-binary
uvicorn
fastapi
