pysqlite3-binary>=0.5.4
torch
scrapy
arxiv
transformers
langchain-community
chromadb
huggingface_hub
gradio
streamlit

bitsandbytes
accelerate
optimum

unstructured
unstructured-inference
unstructured[all-docs]

pdfminer.six
pi-heif
pillow
pymupdf
pdfplumber
pdf2image

sentence-transformers
tiktoken


fastapi
uvicorn
pysqlite3-binary

